{% extends "base.html" %}
{% block title %}Favhash{% endblock %}
{% block content %}
<h1>Favhash</h1>
<form action="" method="post">
    <label for="url">Favicon URL:</label>
    <input name="url" type="text">
    <input type="submit" value="Submit URL"/>
</form>
<h2>or upload favicon file:</h2>
<form action="" method="post" enctype = "multipart/form-data">
    <input type = "file" name ="file" />
    <input type = "submit" value="Submit File"/>
</form>
{% if output %}
<pre>{{ output }}</pre>
<a target="_blank" href="https://www.shodan.io/search?query={{ output}}">https://www.shodan.io/search?query={{ output}}</a>
{% endif %}
{{ error }}
{% endblock %}
